In [1]:
#Program that creates a list of 5 numbers and prints each number using a for loop:
numbers = [1, 2, 3, 4, 5]
for number in numbers:
    print(number)

1
2
3
4
5

In [2]:
#Program that calculates the sum of all elements in a list of numbers using a loop:
numbers = [1, 2, 3, 4, 5]
total_sum = 0
for number in numbers:
    total_sum += number
print("Sum of all elements:", total_sum)

Sum of all elements: 15

In [3]:
#Program that finds the maximum number in a list using a loop:
numbers = [10, 25, 14, 7, 30]
max_number = numbers[0]
for number in numbers:
    if number > max_number:
        max_number = number
print("Maximum number:", max_number)

Maximum number: 30

In [4]:
#Program to create a tuple of strings and print each element using a for loop:
my_tuple = ("apple", "banana", "cherry")
for fruit in my_tuple:
    print(fruit)

apple
banana
cherry

In [5]:
#Program that concatenates all elements in a tuple of strings into a single string using a loop:
my_tuple = ("Hello", "World", "Python")
result = ""
for word in my_tuple:
    result += word + " "
print("Concatenated string:", result.strip())

Concatenated string: Hello World Python

In [6]:
#Program that reverses the elements of a tuple using a loop:
my_tuple = (1, 2, 3, 4, 5)
reversed_tuple = []
for i in range(len(my_tuple)-1, -1, -1):
    reversed_tuple.append(my_tuple[i])
print("Reversed tuple:", tuple(reversed_tuple))

Reversed tuple: (5, 4, 3, 2, 1)

In [7]:
#Program to print each student's name and their score from a dictionary using a loop:
students = {"Alice": 85, "Bob": 78, "Charlie": 92}
for name, score in students.items():
    print(f"{name}: {score}")

Alice: 85
Bob: 78
Charlie: 92

In [8]:
#Program that calculates the sum of all the values in a dictionary using a loop:
students = {"Alice": 85, "Bob": 78, "Charlie": 92}
total_score = 0
for score in students.values():
    total_score += score
print("Sum of all scores:", total_score)

Sum of all scores: 255

In [9]:
#Program that finds the student with the highest score from a dictionary using a loop:
students = {"Alice": 85, "Bob": 78, "Charlie": 92}
highest_score = 0
top_student = ""
for name, score in students.items():
    if score > highest_score:
        highest_score = score
        top_student = name
print(f"Top student is {top_student} with a score of {highest_score}")

Top student is Charlie with a score of 92

In [10]:
#Program that groups students based on their scores as 'pass' or 'fail' using a loop:
students = [("Alice", 85), ("Bob", 45), ("Charlie", 78), ("Dave", 30)]
result = {"pass": [], "fail": []}

for name, score in students:
    if score >= 50:
        result["pass"].append(name)
    else:
        result["fail"].append(name)

print(result)

{'pass': ['Alice', 'Charlie'], 'fail': ['Bob', 'Dave']}

In [11]:
#Program that finds the common elements between a list and a tuple using a loop:
my_list = [1, 2, 3, 4, 5]
my_tuple = (3, 4, 5, 6, 7)

common_elements = []
for element in my_list:
    if element in my_tuple:
        common_elements.append(element)

print("Common elements:", common_elements)

Common elements: [3, 4, 5]

In [12]:
# Right-Angle Triangle Star Pattern

for i in range(5):
    print("*" * i)

*
**
***
****

In [14]:
# Inverted Right-Angle Triangle Star Pattern
for i in range(5):
    print("*" * (5-i))

*****
****
***
**
*

In [15]:
for i in range(5,0,-1):
    print("*"*i)

*****
****
***
**
*

In [16]:
#Pyramid Star Pattern
n = 5
for i in range(1, n+1):
    print(' ' * (n-i) + '*' * (2*i-1))

    *
   ***
  *****
 *******
*********

In [17]:
#Inverted Pyramid Star Pattern
n = 5
for i in range(n, 0, -1):
    print(' ' * (n-i) + '*' * (2*i-1))

*********
 *******
  *****
   ***
    *

In [18]:
#Diamond Pattern
n = 5
# Upper half of the diamond
for i in range(1, n+1):
    print(' ' * (n-i) + '*' * (2*i-1))
# Lower half of the diamond
for i in range(n-1, 0, -1):
    print(' ' * (n-i) + '*' * (2*i-1))

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [19]:
#Number Pyramid Pattern
n = 5
for i in range(1, n+1):
    print(' ' * (n-i), end="")
    for j in range(1, i+1):
        print(j, end="")
    for j in range(i-1, 0, -1):
        print(j, end="")
    print()

    1
   121
  12321
 1234321
123454321

In [20]:
#Floyd's Triangle
n = 5
num = 1
for i in range(1, n+1):
    for j in range(1, i+1):
        print(num, end=" ")
        num += 1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [21]:
#Right-Angle Number Triangle
n = 5
for i in range(1, n+1):
    for j in range(1, i+1):
        print(j, end="")
    print()

1
12
123
1234
12345

In [22]:
#Inverted Right-Angle Number Triangle
n = 5
for i in range(n, 0, -1):
    for j in range(1, i+1):
        print(j, end="")
    print()

12345
1234
123
12
1